<div class="col-md-12 mx-auto">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group mb-3">
        <label class="form-label">Department Id</label>
        <input ng-model="clickedDepartment.DepartmentId" class="form-control" disabled />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Department Name</label>
        <input ng-model="clickedDepartment.DepartmentName" class="form-control" disabled />
    </div>
    <div class="form-group mb-3">
        <input type="button" value="Close" data-bs-dismiss="modal" class="btn btn-warning" />
    </div>
</div>