@model DepartmentViewModel
<form enctype="multipart/form-data" asp-action="Edit" method="post" id="form">
    <div class="col-md-12 mx-auto">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="DepartmentId" class="form-label"></label>
            <input asp-for="DepartmentId" class="form-control" disabled />
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="DepartmentName" class="form-label"></label>
            <input asp-for="DepartmentName" class="form-control" disabled/>
            <span asp-validation-for="DepartmentName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <input type="button" value="Close" data-bs-dismiss="modal" class="btn btn-warning" />
        </div>
    </div>
</form>