@model EmployeeViewModel
<form enctype="multipart/form-data" asp-action="Create" method="post" id="form">
    <div class="col-md-12 mx-auto">
        <div class="form-group mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="DepartmentName" class="form-label"></label>
            @if (ViewBag.Departments != null)
            {
                <select asp-for="DepartmentId" class="form-control" asp-items="@(new SelectList(@ViewBag.Departments,"DepartmentId", "DepartmentName"))">
                    <option value="">--Select Department--</option>
                </select>
            }
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group position-relative mb-3">
            <label asp-for="DateOfBirth" class="form-label"></label>
            <input asp-for="DateOfBirth" class="form-control datetimepicker" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Age" class="form-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Photo" class="form-label mb-3"></label>
            <img src="~/images/no-image.png" style="height:90px!important; width:auto!important;" class="form-control change_edit mb-3" asp-append-version="true" />
            <input asp-for="Photo" class="form-control change_image" type="file" required />
        </div>
        <div class="form-group mb-3">
            <input type="submit" value="Save" class="btn btn-info" />
            <input type="button" value="Close" data-bs-dismiss="modal" class="btn btn-warning" />
        </div>
    </div>
</form>

