
<div class="col-md-12 mx-auto">
    <div class="form-group mb-3">
        <label class="form-label">Name</label>
        <input ng-model="clickedEmployee.Name" class="form-control" disabled />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Department Name</label>
        <input ng-model="clickedEmployee.DepartmentName" class="form-control" disabled />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Email Address</label>
        <input ng-model="clickedEmployee.Email" class="form-control" disabled />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Date Of Birth</label>
        <input ng-model="clickedEmployee.DateOfBirth" class="form-control" disabled />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Age</label>
        <input ng-model="clickedBuilding.Age" class="form-control" disabled />
    </div>
    <div class="form-group mb-3">
        <label class="form-label mb-3">Employee Photo</label>
        <img ng-src="/images/{{clickedBuilding.ImageName}}" style="height:90px!important; width:auto!important;" class="form-control change_edit mb-3" asp-append-version="true" />
    </div>
    <div class="form-group mb-3">
        <input type="button" value="Close" data-bs-dismiss="modal" class="btn btn-warning" />
    </div>
</div>
