<div class="form-group mb-3">
    <label class="form-label mb-3">Employee Photo</label>
    <img ng-src="/images/{{clickedEmployee.ImageName}}" style="width:100%!important; height:auto!important;" class="form-control changeEdit mb-3" asp-append-version="true" />
</div>
<div class="form-group mb-3">
    <input type="button" value="Close" data-bs-dismiss="modal" class="btn btn-warning" />
</div>