@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <img src="~/images/IMG_3688.jpg"/>
    </div>
</div>